{% extends 'base.html.twig' %}

{% block title %}Rental index{% endblock %}

{% block body %}
    <h1>Rental index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Date_start</th>
                <th>Date_end</th>
                <th>Status</th>
                <th>Km_start</th>
                <th>Km_end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.id }}</td>
                <td>{{ rental.date ? rental.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rental.dateStart ? rental.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rental.dateEnd ? rental.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rental.status }}</td>
                <td>{{ rental.kmStart }}</td>
                <td>{{ rental.kmEnd }}</td>
                <td>
                    <a href="{{ path('admin_rental_show', {'id': rental.id}) }}">show</a>
                    <a href="{{ path('admin_rental_edit', {'id': rental.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_rental_new') }}">Create new</a>
{% endblock %}
