{% extends 'base_admin.html.twig' %}

{% block title %}Motorcycle List
{% endblock %}

{% block body %}
	<h1>Motorcycle List</h1>
	<a class="btn btn-primary" href="{{ path('admin_motorcycle_new') }}">Create new</a>

	<table class="table">
		<thead>
			<tr>
				<th>Photo</th>
				<th>Marque</th>
				<th>Model</th>
				<th>Power</th>
				<th>Numberplate</th>
				<th>Tarif</th>
				<th>Km</th>
				<th>Year</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for motorcycle in motorcycles %}
				<tr>
					<td>
						{%  if motorcycle.motorcycleImages|length > 0 %}
							{# <img src="/images/motorcycles/{{motorcycle.motorcycleImages.first.imageName}}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/> #}
							<img src="{{ vich_uploader_asset(motorcycle.motorcycleImages.first, 'imageFile') }}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/>
						{% else %}
							<img src="{{asset(constant('DEFAULT_IMAGE', motorcycle))}}" class="card-img-top" style="max-width:100px">
						{% endif %}
					</td>
					<td>{{ motorcycle.model.brand.name }}</td>
					<td>{{ motorcycle.model.name }}</td>
					<td>{{ motorcycle.power }}</td>
					<td>{{ motorcycle.numberplate }}</td>
					<td>{{ motorcycle.price }}</td>
					<td>{{ motorcycle.km }}</td>
					<td>{{ motorcycle.year }}</td>
					{% if motorcycle.status == 1 %}
						<td style="color:green;"> Moto Libre </td>
					{% elseif motorcycle.status == 2  %}
						<td style="color:red;"> Moto en location </td>
					{% elseif motorcycle.status == 0  %}
					<td style="color:blue;"> Moto en attente de validation </td>
					{% elseif motorcycle.status == 3  %}
						<td style="color:grey;"> Annonce Supprimer </td>
					{% else %}
						<td style="color:orange;"> Erreur </td>
					{% endif %}
					<td class="action">
						<a href="{{ path('admin_motorcycle_show', {'id': motorcycle.id}) }}">
							<i class="bi bi-eye-fill icon-show"></i>
						</a>
						<a href="{{ path('admin_motorcycle_edit', {'id': motorcycle.id}) }}">
							<i class="bi bi-pencil-square icon-edit"></i>
						</a>
						{{ include('admin/motorcycle/_delete_form.html.twig') }}

					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
