<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">
					Dashboard
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ path('motorcycle_index') }}">
					Motos
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_licence_type_index') }}">
					Type de permis
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_rental_index') }}">
					Locations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_user_index') }}">
					Users
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_review_index') }}">
					Avis
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('admin_contact_index') }}">
					Message/Ticket
				</a>
			</li>
		</ul>

	</div>
</nav>
