<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
	<div class="position-sticky pt-3">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_default' ? 'active' }}" href="{{ path('admin_default') }}">
					Dashboard
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_motorcycle_index' ? 'active' }}" href="{{ path('admin_motorcycle_index') }}">
					Motos
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'validation_index' ? 'active' }}" href="{{ path('validation_index') }}">
					Validation New Moto
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link  href='#'">
					Validation Permis User
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_brand_index' ? 'active' }}" href="{{ path('admin_brand_index') }}">
					Marques
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_licence_type_index' ? 'active' }}" href="{{ path('admin_licence_type_index') }}">
					Type de permis
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_rental_index' ? 'active' }}" href="{{ path('admin_rental_index') }}">
					Locations
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_user_index' ? 'active' }}" href="{{ path('admin_user_index') }}">
					Users
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_review_index' ? 'active' }}" href="{{ path('admin_review_index') }}">
					Avis
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{ app.request.get('_route') == 'admin_contact_index' ? 'active' }}" href="{{ path('admin_contact_index') }}">
					Message/Ticket
				</a>
			</li>
		</ul>

	</div>
</nav>
