{% extends 'base.html.twig' %}

{% block title %}easyloc - Location de deux roues{% endblock %}

{% block body %}
	<div class="home-hero" style="background-image: url('/images/bg-hero.jpg');">
		<div class="container">
			<h2 class="home-hero__title">Louer facilement votre deux roues</h2>
			<div class="row">
				<div class="col-12 col-md-6">
					<form method="get" action="/resultat-search">
						<div class="form-group mb-2">
							<label for="loc" class="text-white">Où ?</label>
							{{ form_widget(form.ville) }}
							{{ form_row(form._token) }}
						</div>
						<div class="form-group mb-2">
							<label for="date1" class="text-white">Quand ?</label>
							<div class="d-flex align-items-center">
								{{ form_widget(form.Start) }}
								<span>arrow</span>
								{{ form_widget(form.End) }}
							</div>
						</div>
						{{ form_widget(form.recherche) }}
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
{#		{{ form_start(form) }}#}
{#		{{ form_widget(form) }}#}
{#		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>#}
{#		{{ form_end(form) }}#}

		<h1 class="text-center my-3">Suggestions</h1>
		<div class="row">
			{% for motorcycle in motorcycles %}
				<div class="col-xl-3 col-lg-4 mb-5">
					<div class="card rounded-1 text-center" style="width: 18rem;">
						{%  if motorcycle.motorcycleImages|length > 0 %}
								{% set cp = 0 %}
								{% for image in motorcycle.motorcycleImages %}
									{% if cp == 0 %}
										<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" class="img-fluid" width="286px" height="215px"/>
										{% set cp = 1 %}
									{% endif %}
	
								
								{% endfor %}
							{% else %}
								<img src="https://via.placeholder.com/640x480/999999/FFFFFF/?text=--NO-IMAGE---" class="card-img-top">
							{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{motorcycle.name}}</h5>
							<p class="text-muted">{{motorcycle.model.brand.name}}
								-{{motorcycle.model.name}}
							</p>
							<a href="{{ path('motorcycle_show',{'id': motorcycle.id}) }}" class="btn btn-dark">
								Show</a>
						</div>
					</div>
				</div>
			{%endfor %}
		</div>
	</div>
{% endblock %}
