{% extends 'base.html.twig' %}

{% block title %}easyloc - Location de deux roues{% endblock %}

{% block body %}
    <div class="home-hero" style="background-image: url('/images/bg-hero.jpg');">
        <div class="container">
            <h2 class="home-hero__title">Louer facilement votre deux roues</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <form method="get" action="/resultat-search">
                        {{ form_row(form._token) }}
                        <div class="form-group mb-2">
                            <label for="ville" class="text-white">Où ?</label>
                            {{ form_widget(form.ville) }}
                        </div>
                        <div class="form-group mb-2">
                            <label for="Start" class="text-white">Quand ?</label>
                            <div class="d-flex align-items-center">
                                {{ form_widget(form.Start) }}
                                <span>arrow</span>
                                {{ form_widget(form.End) }}
                            </div>
                        </div>
                        {{ form_widget(form.recherche) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="map">
        <div class="map__menu">
            <div class="map__menu__header">
                <h2 class="map__menu__header__title">
                    Nos suggestions
                </h2>
                <div class="map__menu__header__cta">
                    <a href="/resultat-search" class="btn btn-dark btn-sm">Recherche avancée</a>
                </div>
            </div>
            <div class="map__menu__nav">
                <div class="map__menu__nav__list">
                    {% for motorcycle in motorcycles_markers %}
                            <article class="map__menu__nav__list__item map-item-link" data-id="{{ motorcycle.id }}">
                                <figure class="map__menu__nav__list__item__figure">
                                    <img class="map__menu__nav__list__item__figure__img"
                                         src="{{ motorcycle.image }}"
                                         alt="location {{ motorcycle.brand }} {{ motorcycle.model }}"/>
                                </figure>
                                <div class="map__menu__nav__list__item__content">
                                    <h1 class="map__menu__nav__list__item__content__title">{{ motorcycle.brand }} {{ motorcycle.model }}</h1>
                                    <small class="map__menu__nav__list__item__content__city">{{ motorcycle.city }}, {{ motorcycle.cp }}</small>
                                    <span class="map__menu__nav__list__item__content__license">{{ motorcycle.license }}</span>
                                    <span class="map__menu__nav__list__item__content__price">
                                        <strong class="map__menu__nav__list__item__content__price__value">{{ motorcycle.price }}€</strong>
                                        <small class="map__menu__nav__list__item__content__price__unit">/jour</small>
                                    </span>
                                </div>
                            </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="map__map">
            <div id="map"></div>
            <div id="map-data" data-motorcycles="{{ motorcycles_markers|json_encode }}"></div>
            <template id="map-marker">
                <div class="map-marker">
                    <img class="map-marker__img" id="map-marker_image"/>
                    <div class="map-marker__content">
                        <span class="map-marker__content__title" id="map-marker_title"></span>
                        <div class="map-marker__content__footer">
                            <div class="map-marker__content__footer__price">
                                <span class="map-marker__content__footer__price__value" id="map-marker_price"></span>
                                <small class="map-marker__content__footer__price__unit">/jour</small>
                            </div>
                            <a class="btn btn-dark" id="map-marker_link">Louer</a>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>

    <div class="container">
        <section class="home-links">
            <h2 class="home-links__title">Que cherchez-vous?</h2>
            <div class="home-links__links">
                <a href="/resultat-search" class="home-links__links__item" style="background-image: url('/images/a2.png');">
                    <h3 class="home-links__links__item__title">A2</h3>
                </a>
                <a href="/resultat-search" class="home-links__links__item" style="background-image: url('/images/sportives.png');">
                    <h3 class="home-links__links__item__title">Sportives</h3>
                </a>
                <a href="/resultat-search" class="home-links__links__item" style="background-image: url('/images/autour.png');">
                    <h3 class="home-links__links__item__title">Autour de chez vous</h3>
                </a>
            </div>
        </section>
    </div>
    <section class="renter">
        <div class="container">
            <h2 class="renter__title">Vous souhaitez louer votre moto ?</h2>
            <p class="renter__subtitle">Il suffit de vous inscrire, d'ajouter votre moto et c'est fini !</p>
            <img class="renter__img" src="/images/path.png" alt="easyloc moto"/>
            <p class="text-center mt-4">
                <a href="/register" class="btn btn-light btn-lg">S'inscrire</a>
            </p>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <h2 class="reviews__title">Bientôt, vos avis !</h2>
            <div class="reviews__list">
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
                <div class="reviews__list__item">
                    <div class="reviews__list__item__header">
                        <div class="reviews__list__item__header__avatar"></div>
                        <div class="reviews__list__item__header__name"></div>
                    </div>
                    <div class="reviews__list__item__content"></div>
                    <div class="reviews__list__item__stars">
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                        <div class="reviews__list__item__stars__star">★</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
