{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
	<div class="hero" style="background-image: url('/images/bg-hero.jpg');">
		<div class="container">
			<h2 class="hero__title">Louer facilement votre deux roues</h2>
			<form class="hero__form">
				<div class="hero__form__field">
					<label for="f-where" class="hero__form__field__label">Où ?</label>
					<input type="text" class="hero__form__field__input" id="f-where" placeholder="Paris...">
				</div>
				<div class="hero__form__field--daterange">
					<div class="hero__form__field">
						<label for="f-when-1" class="hero__form__field__label">Quand ?</label>
						<input type="text" class="hero__form__field__input" id="f-when-1" placeholder="20/12/2021">
					</div>
					<div class="icon-wrapper">
						<i class="fas fa-arrow-right"></i>
					</div>
					<div class="hero__form__field">
						<label for="f-when-2" class="hero__form__field__label"></label>
						<input type="text" class="hero__form__field__input" id="f-when-2" placeholder="26/21/2021">
					</div>
				</div>
				<div class="hero__form__field hero__form__field--submit">
					<button class="hero__form__field__submit" type="button">Rechercher</button>
				</div>
			</form>
		</div>
	</div>

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<a href="{{ path('app_login') }}">
			<button>
				Log in
			</button>
		</a>
	</div>

	<div class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

		<h1 class="text-center mb-3">MOTOS</h1>
		<div class="row">
			{%for motorcycle in motorcycles %}
				<div class="col-xl-3 col-lg-4 mb-5">
					<div class="card text-center" style="width: 18rem;">
						{% if motorcycle.motorcycleImages %}
							<img src="https://via.placeholder.com/640x480/000000/FFFFFF/?text=--NO-IMAGE---" class="card-img-top">
						{% else %}
							<img src="{{motorcycle.motorcycleImages.first.image}}" class="card-img-top">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{motorcycle.name}}</h5>
							<p class="text-muted">{{motorcycle.model.brand.name}}
								-{{motorcycle.model.name}}
							</p>
							<a href="{{ path('motorcycle_show',{'id': motorcycle.id}) }}" class="btn btn-primary">
								Show</a>
						</div>
					</div>
				</div>
			{%endfor %}
		</div>
	</div>
{% endblock %}
