{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />{% endblock %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([48.856614, 2.3522219], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    }).addTo(map);
    {% set arraym = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'] %}




    map.closePopup();

    function onClick(e) {

        const markers = [...document.getElementsByClassName('leaflet-marker-icon')];
        markers.forEach((marker) => {
            marker.setAttribute("src", 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png');
        });
        map.flyTo(this.getLatLng());
        var layer = e.target;
        console.log(layer);
        layer._icon.src = 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png';
        layer._icon.naturalWidth = 200;
        layer._icon.naturalHeight = 200;
    }


    document.getElementsByClassName( 'leaflet-control-attribution' )[0].style.display = 'none';


</script>
<style>
        li{
            cursor: pointer;
        }
        #map {
            height: 50vh;
            width: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        b{
            text-align: center;
            width: 100%;
            display: block;
        }

		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">

		<a href="{{ path('app_login') }}">
			<button>
				Log in
			</button>
		</a>
	</div>

	<div class="container">

       
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}
 <div id="map"></div>
		<h1 class="text-center mb-3">MOTOS</h1>
		<div class="row">

			{%for motorcycle in motorcycles %}
				<div class="col-xl-3 col-lg-4 mb-5">
					<div class="card text-center" style="width: 18rem;">
						{% if motorcycle.motorcycleImages %}
							<img src="https://via.placeholder.com/640x480/000000/FFFFFF/?text=--NO-IMAGE---" class="card-img-top">
						{% else %}
							<img src="{{motorcycle.motorcycleImages.first.image}}" class="card-img-top">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{motorcycle.name}}</h5>
							<p class="text-muted">{{motorcycle.model.brand.name}}
								-{{motorcycle.model.name}}
							</p>
							<a href="{{ path('motorcycle_show',{'id': motorcycle.id}) }}" class="btn btn-primary">
								Show</a>
						</div>
					</div>
				</div>
			{%endfor %}
		</div>
		
	</div>
{% endblock %}
