{% extends 'base_dashboard.html.twig' %}

{% block title %}Rental index
{% endblock %}

{% block body %}
    <h1>Mes Réservations</h1>
    {% for rental in rentals %}
        <div class="d-flex align-items-start border border-2 rounded-3 border-secondary p-3 mb-3 gap-3">
            <div>
                {% if rental.motorcycle.motorcycleImages|length > 0 %}
                    {# <img src="/images/motorcycles/{{motorcycle.motorcycleImages.first.imageName}}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/> #}
                    <img src="{{ vich_uploader_asset(rental.motorcycle.motorcycleImages.first, 'imageFile') }}"
                         height="80px"
                         style="max-height: 80px"
                         class="img-fluid"
                         alt="{{ rental.motorcycle.motorcycleImages.first.imageName }}"/>
                {% else %}
                    <img src="{{ asset(constant('DEFAULT_IMAGE', rental.motorcycle)) }}"
                         height="80px"
                         style="max-height: 80px"
                         class="card-img-top img-fluid"/>
                {% endif %}
            </div>
            <div class="flex-grow-1">
                <h3 class="h4">{{ rental.motorcycle.model.brand.name }} {{ rental.motorcycle.model.name }}</h3>
                <div class="d-flex align-items-start gap-4">
                    {% set difference = date(rental.dateEnd).diff(date(rental.dateStart)) %}
                    {% set leftDays = difference.days %}
                    <div>
                        <span class="h5">{{ rental.price }}€</span>
                        <small>({{ leftDays }}J)</small>
                    </div>
                    <div>
                        {% set totalKm = rental.kmEnd - rental.kmStart %}
                        <span class="h5 mb-0">{{ totalKm }}km</span>
                        <div class="text-secondary">
                            <span>{{ rental.kmStart }}km</span>
                            <span>{{ rental.kmEnd }}km</span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center h5 mb-0">
                            <span>{{ rental.dateStart ? rental.dateStart|date('Y-m-d ') : '' }}</span>
                            <span>➡</span>
                            <span>{{ rental.dateEnd ? rental.dateEnd|date('Y-m-d ') : '' }}</span>
                        </div>
                        <small class="text-secondary">
                            {{ rental.createdAt ? rental.createdAt|date('Y-m-d ') : '' }}
                        </small>
                    </div>
                    <div class="d-flex flex-column flex-grow-1 justify-content-start align-items-end gap-1">
                        {% if rental.status == 1 %}
                            <span class="badge bg-warning">En attente Validation</span>
                        {% endif %}
                        {% if rental.status == 2 %}
                            <span class="badge bg-success">Validé</span>
                        {% endif %}
                        {% if rental.status == 3 %}
                            <span class="badge bg-primary">Véhicule remis au client</span>
                        {% endif %}
                        {% if rental.status == 4 %}
                            <span class="badge bg-primary">Vehicule Réstitué</span>
                        {% endif %}
                        {% if rental.status == 5 %}
                            <span class="badge bg-dark">Location Clos</span>
                        {% endif %}
                        {% if rental.status == 6 %}
                            <span class="badge bg-danger">SAV</span>
                        {% endif %}
                        <div>
                            {% if rental.status == 5 %}
                                <a class="btn btn-secondary btn-sm"
                                   href=" {{ path('dashboard_sav', {'id': rental.id}) }} ">SAV</a>
                            {% endif %}
                            {% if rental.status == 6 %}
                                <a class="btn btn-secondary btn-sm"
                                   href=" {{ path('dashboard_cloturation', {'id': rental.id}) }} ">
                                    Cloturation SAV
                                </a>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="{{ path('dashboard_rental_show', {'id': rental.id}) }}">
                                <i class="bi bi-eye-fill icon-show"></i>
                            </a>
                            {% if rental.status<3 %}
                                {{ include('dashboard/rental/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
