{% extends 'base_dashboard.html.twig' %}

{% block title %}Rental
{% endblock %}

{% block body %}
	<h1>Rental</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Date de création</th>
				<td>{{ rental.createdAt ? rental.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date_start</th>
				<td>{{ rental.dateStart ? rental.dateStart|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date_end</th>
				<td>{{ rental.dateEnd ? rental.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ rental.status }}</td>
			</tr>
			<tr>
				<th>Km_start</th>
				<td>{{ rental.kmStart }}</td>
			</tr>
			<tr>
				<th>Km_end</th>
				<td>{{ rental.kmEnd }}</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>{{ rental.price }}€</td>
			</tr>
			<tr>
				<th>Jour Location</th>
				{% set difference = date(rental.dateEnd).diff(date(rental.dateStart)) %}
				{% set leftDays = difference.days %}
				{% if leftDays == 0 %}
					{% set leftDays = 1 %}
				{% endif %}
				<td> {{ leftDays }}Jour </td>

			</tr>
		</tbody>
	</table>

	<a href="{{ path('dashboard_rental_index') }}">back to list</a><a href="{{ path('dashboard_contact_create',{'rental': rental.id}) }}">Contacter Le Propriétaire</a>


{% endblock %}
