{% extends 'base_dashboard.html.twig' %}

{% block title %}Mes Motos
{% endblock %}

{% block body %}
    <section class="mb-5">
        <h2 class="h3">Motos en cours de vérification</h2>
        {% for motorcycle in unverifiedMotorcycles %}
            <article class="motorcycle map-item-link" data-id="{{ motorcycle.id }}">
                <figure class="motorcycle__figure">
                    {% if motorcycle.motorcycleImages|length > 0 %}
                        {# <img src="/images/motorcycles/{{motorcycle.motorcycleImages.first.imageName}}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/> #}
                        <img class="motorcycle__figure__img"
                             src="{{ vich_uploader_asset(motorcycle.motorcycleImages.first, 'imageFile') }}"
                             alt="{{ motorcycle.model }}"/>
                    {% else %}
                        <img class="motorcycle__figure__img"
                             src="{{ asset(constant('DEFAULT_IMAGE', motorcycle)) }}"
                             style="max-width:100px">
                    {% endif %}
                </figure>
                <div class="motorcycle__content">
                    <h1 class="motorcycle__content__title">
                        {{ motorcycle.model.brand.name }} {{ motorcycle.model }}
                    </h1>
                    <small class="motorcycle__content__city">
                        {{ motorcycle.city }}, {{ motorcycle.cp }}
                    </small>
                    <span class="motorcycle__content__license">
                        {{ motorcycle.licenceType.type }}
                    </span>
                </div>
            </article>
        {% endfor %}
    </section>
    <div class="d-flex justify-content-between align-items-start">
        <h2 class="fw-bold">Mes Motos</h2>
        <a class="btn btn-primary" href="{{ path('dashboard_motorcycle_new') }}">Ajouter une moto</a>
    </div>
    <section class="motorcycles">
        {% for motorcycle in motorcycles %}
            <article class="motorcycle motorcycle--status{{motorcycle.status}}" data-id="{{ motorcycle.id }}">
                <figure class="motorcycle__figure">
                    {% if motorcycle.motorcycleImages|length > 0 %}
                        {# <img src="/images/motorcycles/{{motorcycle.motorcycleImages.first.imageName}}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/> #}
                        <img class="motorcycle__figure__img"
                             src="{{ vich_uploader_asset(motorcycle.motorcycleImages.first, 'imageFile') }}"
                             alt="{{ motorcycle.model }}"/>
                    {% else %}
                        <img class="motorcycle__figure__img"
                             src="{{ asset(constant('DEFAULT_IMAGE', motorcycle)) }}"
                             style="max-width:100px">
                    {% endif %}
                </figure>
                <div class="motorcycle__content">
                    <h1 class="motorcycle__content__title">
                        {{ motorcycle.model.brand.name }} {{ motorcycle.model }}
                    </h1>
                    <small class="motorcycle__content__city">
                        {{ motorcycle.city }}, {{ motorcycle.cp }}
                    </small>
                    <span class="motorcycle__content__license">
                        {{ motorcycle.licenceType.type }}
                    </span>
                    <span class="motorcycle__content__price">
                        <strong class="motorcycle__content__price__value">
                            {{ motorcycle.price }}€
                        </strong>
                        <small class="motorcycle__content__price__unit">/jour</small>
                    </span>
                </div>
                <div class="motorcycle__actions">
                    <a href="{{ path('dashboard_motorcycle_show', {'id': motorcycle.id}) }}"
                       class="btn btn-dark btn-sm">Fiche de la moto</a>
                    {% if motorcycle.status == 2 or motorcycle.status == 1%}
                        <a href="{{ path('motorcycle_show', {'id': motorcycle.id}) }}"
                           class="btn btn-outline-dark btn-sm">Voir l'annonce</a>
                    {% else %}
                        <a href="#" class="btn btn-outline-dark btn-sm disabled" disabled>Voir l'annonce</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
    <table class="table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Marque</th>
            <th>Model</th>
            <th>Power</th>
            <th>Numberplate</th>
            <th>Tarif</th>
            <th>Km</th>
            <th>Year</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for motorcycle in motorcycles %}
            <tr>
                <td>
                    {% if motorcycle.motorcycleImages|length > 0 %}
                        {# <img src="/images/motorcycles/{{motorcycle.motorcycleImages.first.imageName}}" alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/> #}
                        <img src="{{ vich_uploader_asset(motorcycle.motorcycleImages.first, 'imageFile') }}"
                             alt="{{ motorcycle.motorcycleImages.first.imageName }}" style="max-width:100px"/>
                    {% else %}
                        <img src="{{ asset(constant('DEFAULT_IMAGE', motorcycle)) }}" class="card-img-top"
                             style="max-width:100px">
                    {% endif %}
                </td>
                <td>{{ motorcycle.model.brand.name }}</td>
                <td>{{ motorcycle.model.name }}</td>
                <td>{{ motorcycle.power }}ch</td>
                <td>{{ motorcycle.numberplate }}</td>
                <td>{{ motorcycle.price }}€ /Jour</td>
                <td>{{ motorcycle.km }} km</td>
                <td>{{ motorcycle.year }}</td>
                {# {% for rental in motorcycle.rentals %}
						{% if  date() >= rental.date_start && date() <= rental.date_end %}
							<td style="color:red;"> Moto en location </td>
						{% endif %}
					{% endfor %} #}
                {% if motorcycle.status == 1 %}
                    <td>
                        <span class="badge text-white bg-success">Disponible</span>
                    </td>
                {% elseif motorcycle.status == 2 %}
                    <td>
                        <span class="badge text-white bg-danger">En location</span>
                    </td>
                {% elseif motorcycle.status == 0 %}
                    <td>
                        <span class="badge text-white bg-warning">En attente</span>
                    </td>
                {% elseif motorcycle.status == 3 %}
                    <td>
                        <span class="badge text-white bg-primary">Annonce supprimée</span>
                    </td>
                {% else %}
                    <td class="fst-italic text-danger">Erreur</td>
                {% endif %}
                <td class="action">
                    <a href="{{ path('dashboard_motorcycle_show', {'id': motorcycle.id}) }}">
                        <i class="bi bi-eye-fill icon-show"></i>
                    </a>
                    {% if motorcycle.status != 2 %}
                        <a href="{{ path('dashboard_motorcycle_edit', {'id': motorcycle.id}) }}">
                            <i class="bi bi-pencil-square icon-edit"></i>
                        </a>
                        {{ include('dashboard/motorcycle/_delete_form.html.twig') }}
                    {% endif %}

                </td>

            </tr>


        {% endfor %}
        </tbody>
    </table>



{% endblock %}
