{% extends 'base.html.twig' %}

{% block title %}easyloc - {{ motorcycle.name }}{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Accueil</a></li>
					<li class="breadcrumb-item"><a href="/resultat-search">Recherche</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ motorcycle.name }}</li>
				</ol>
			</nav>
		</div>
	</section>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8">
					<div class="motorcycle__carrousel mb-4">
						<div class="d-flex justify-content-center align-items-center overflow-hidden bg-secondary" style="height: 300px;">
							{%  if motorcycle.motorcycleImages|length > 0 %}
								{% for image in motorcycle.motorcycleImages %}
									<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" class="img-fluid"/>
								{% endfor %}
							{% else %}
								<img src="{{asset(constant('DEFAULT_IMAGE', motorcycle))}}" class="card-img-top img-fluid">
							{% endif %}
						</div>
					</div>
					<h1>{{ motorcycle.name }} - {{ motorcycle.status }}</h1>
					<p>{{ motorcycle.description }}</p>
					<h2>Détails de la moto</h2>
					{% dump(motorcycle.model) %}
					<table class="table">
						<tbody>
						<tr>
							<th>Power</th>
							<td>{{ motorcycle.power }}</td>
						</tr>
						<tr>
							<th>Km</th>
							<td>{{ motorcycle.km }}</td>
						</tr>
						<tr>
							<th>Year</th>
							<td>{{ motorcycle.year }}</td>
						</tr>
						<tr>
							<th>Year</th>
							<td>{{ motorcycle.city }}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="col-12 col-md-4">
					<div class="card p-3">
						<h3>Réservation</h3>
						<form method="get" action="#">
							<div class="form-group mb-2">
								<label for="loc">Date de départ</label>
								<input type="text" class="form-control" id="loc" placeholder="Paris..." name="ville">
							</div>
							<div class="form-group mb-2">
								<label for="loc">Date de retour</label>
								<input type="text" class="form-control" id="loc" placeholder="Paris..." name="ville">
							</div>
						</form>
						<div class="my-2">Prix: <strong class="h3">200€</strong></div>
						<a href="{{ path('demande_location',{'id': motorcycle.id}) }}" class="btn btn-dark">Réserver</a>
					</div>
				</div>
			</div>
		</div>
	</main>


{% endblock %}
