{% extends 'base.html.twig' %}

{% block title %}easyloc - {{ motorcycle.name }}{% endblock %}

{% block body %}
    <main class="mb-5">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="motorcycle__carrousel mb-4">
                        <div class="d-flex justify-content-center align-items-center overflow-hidden bg-secondary"
                             style="height: 300px;">
                            {% if motorcycle.motorcycleImages|length > 0 %}
                                {% for image in motorcycle.motorcycleImages %}
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}"
                                         class="img-fluid"/>
                                {% endfor %}
                            {% else %}
                                <img src="{{ asset(constant('DEFAULT_IMAGE', motorcycle)) }}"
                                     class="card-img-top img-fluid">
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-start">
                        <h1 class="fw-bold">{{ motorcycle.model.brand.name }} {{ motorcycle.model }}</h1>
                        <div class="d-flex align-items-end justify-content-start gap-1">
                            <strong class="h2 mb-0">{{ motorcycle.price }}€</strong><small class="h5 mb-2">/jour</small>
                        </div>
                    </div>
                    <h2>{{ motorcycle.name }}</h2>
                    <p>{{ motorcycle.description }}</p>

                    <h2>Détails de la moto</h2>
                    <div class="d-flex align-items-start justify-content-start gap-5 flex-wrap">
                        <div class="d-flex flex-column">
                            <small class="text-primary">Puissance</small>
                            <strong class="h3">{{ motorcycle.power }}ch</strong>
                        </div>
                        <div class="d-flex flex-column">
                            <small class="text-primary">Kilométrage</small>
                            <strong class="h3">{{ motorcycle.km }}km</strong>
                        </div>
                        <div class="d-flex flex-column">
                            <small class="text-primary">Année</small>
                            <strong class="h3">{{ motorcycle.year }}</strong>
                        </div>
                        <div class="d-flex flex-column">
                            <small class="text-primary">Localisation</small>
                            <strong class="h3">{{ motorcycle.city }}, {{ motorcycle.cp }}</strong>
                        </div>
                    </div>

                </div>
                {% if (date_end == null) and (date_start == null) %}
                    <div class="col-12 col-md-4">
                        <div class="card p-3">
                            <h3>Réservation</h3>
                            {{ form_start(form) }}
                            <div class="form-group mb-2">
                                <label for="loc">Début :</label>
                                {{ form_widget(form.date_start) }}
                            </div>
                            <div class="form-group mb-3">
                                <label for="loc">Fin :</label>
                                {{ form_widget(form.date_end) }}
                            </div>
                            <button class="btn btn-dark w-100">{{ button_label|default('Réserver') }}</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-md-4">
                        <div class="card p-3">
                            <h3 class="fw-bold">Réservation</h3>
                            <div class="mb-2">
                                <small class="mb-0 text-primary">Date de départ</small>
                                <h4 class="my-0">{{ date_start|date("d/m/Y") }}</h4>
                            </div>
                            <div class="mb-4">
                                <small class="mb-0 text-primary">Date de retour</small>
                                <h4 class="my-0">{{ date_end|date("d/m/Y") }}</h4>
                            </div>
                            {% set difference = date(date_end).diff(date(date_start)) %}
                            {% set leftDays = difference.days %}
                            <div class="mb-3">
                                <small class="mb-0 text-primary">Prix final:</small>
                                <p class="my-0"><strong class="h2">{{ leftDays * motorcycle.price }}€</strong><small class="fw-bold h4">/{{ leftDays }} days</small></p>
                            </div>
                            <a href="{{ path('demande_location',{'id': motorcycle.id ,'date_end': date_end , 'date_start': date_start}) }}"
                               class="btn btn-dark">Réserver</a>
                        </div>
                    </div>
                {% endif %}

			</div>
		</div>
	</main>


{% endblock %}
