<nav class="navbar bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand text-white" href="{{ path('dashboard_default') }}">
			<img src="{{ asset('images/logo-white.png') }}" alt="" width="auto" height="30" class="d-inline-block align-text-top">
			easyloc
		</a>
		<div>
			<div class="navbar-nav d-flex align-items-center flex-row gap-3">
				<a class="nav-link active text-light" href="{{ path('dashboard_default') }}">Dashboard</a>
				<a class="nav-link text-light" href="{{ path('dashboard_profile') }}">Mon profil</a>
				<a class="nav-link text-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
			</div>
		</div>
	</div>
</nav>
